/* styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 您可以在此添加自定义的全局样式 */

/* styles/global.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
